.social-link{
    background-color: var(--color-grey);
    margin: 15px;
    height: 50px;
    border-radius: 5px;
    display: grid;
    align-items: center;
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
}


.social-link:hover {
    background-color: var(--color-green); /* Color de fondo al hacer hover */
    color: var(--color-off-black); /* Color de texto al hacer hover */
  }