* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--color-dark-grey);
  border-radius: 10px;
  width: 320px;
  height: 600px;
  display: grid;
  text-align: center;
  font-family: var(--font-primary);
}
